@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import 'bootstrap-rtl-4.3.1.min.css';
@import 'fontawesome-5.12.0.min.css';
@import 'helper-rtl-3.5.0.min.css';
@import 'nouislider-14.1.1.min.css';
@import 'custom-rtl-1.0.0.css';
@import 'colors.css';
